*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   
    background: #FBF4EF;
    background-position: center;
    background-size: 5rem;

}


footer{
    background: #875c74;
    height: 30px;
    width:100%;
    bottom: 0px;
    left: 0px;
    
   
}

footer p{
    text-align: center;
    padding:6px;
    color: #fbf4ef;
    font-size: 1rem;
    font-family: jura, sans-serif;
}

/*cell phone*/

@media only screen and (min-width:320px ) and (max-width:768px){

    .profile_img{
        width: 10rem;
        padding:1rem;
        
    }

    .profileimagecontainer{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background-color: #875c74;
         height: 24rem;
         margin-top: -4rem;
         

    }

    .name{
        font-size: 2rem;
        color: #FBF4EF;
        font-family:Julius Sans One;

        
    }

    .title{
        font-size: 1.2rem;
        color: #FBF4EF;
        font-family:Jura;
        text-align: center;
        padding-top:1rem;

    }

    .socials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
        
       
    
       }
    
       a{
        border:4px solid #110e0e;
        background-color: #875c74;
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
        margin: 16px;
        color:#f3efef;
        padding:12px;
        border-radius: 10px;
        font-family: Jura;
        width: 20rem;
        
       
    
       }
    

 

    a:hover{
        transform: scale(1.02);
        box-shadow:5px 5px 18px 2px rgba(0, 0, 0, 0.5) ;
    }

    .social_medias1{
        padding-top: 2rem;
    }

    .social_medias2{
        margin-bottom: 1rem;
    }

    footer p{
        text-align: center;
        padding:6px;
        color: #FBF4EF;
        font-size: .9rem;
        font-family: jura, sans-serif;
    }
 
}

/*tablet*/

@media only screen and (min-width:768px ) and (max-width:1024px){

    .profile_img{
        width: 11rem;
        padding:1rem;
        
    }

    .profileimagecontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #875c74;
        height: 24rem;
        

   }

   .name{
       font-size: 2rem;
       color:#FBF4EF;
       font-family:Julius Sans One;

       
   }

   .title{
       font-size: 1.5rem;
       color: #FBF4EF;
       font-family:Julius Sans One;
       text-align: center;
       padding-top:1rem;


   }

   
   .socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    
   

   }

   a{
    border:4px solid #110e0e;
    background-color: #875c74;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 14px;
    color:#f3efef;
    padding:14px;
    border-radius: 10px;
    font-family: Jura;
    width: 40rem;
    
   

   }

  


   

    a:hover{
        transform: scale(1.02);
        box-shadow:5px 5px 18px 2px rgba(0, 0, 0, 0.5) ;
    }
    

    .social_medias1{
        padding-top: 5rem;
    }

    .social_medias2{
        margin-bottom: 1rem;
    }
 



}


@media only screen and (min-width:1024px ) and (max-width:2000px){

    .profile_img{
        width: 10rem;
        padding:1rem;
        margin-top:-5rem;
        
    }



    .profileimagecontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #875c74;
        height: 20rem;
        

   }

   .name{
       font-size: 2rem;
       color: #FBF4EF;
       font-family:Julius Sans One;
       margin-top:2rem;

       
   }

   .title{
       font-size: 1.5rem;
       color: #FBF4EF;
       font-family:Julius Sans One;

   }

  
   .socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   

   }

   a{
    border:4px solid #110e0e;
    background-color: #875c74;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 19px;
    color:#f3efef;
    padding:10px;
    border-radius: 10px;
    font-family: Jura;
    width: 50rem;

   }

   .social_medias1{
    padding-top:4rem;

   }




   

    a:hover{
        transform: scale(1.02);
        box-shadow:5px 5px 18px 2px rgba(0, 0, 0, 0.5) ;
    }

    .social_medias2{
        margin-bottom: 1rem;
    }
 

}